@import "fonts";

body {
  font: $roboto;
  font-weight: $light;
  /*color: $txt-primary; //color variable set elsewhere
  background: $body-bg;
  -webkit-text-size-adjust: 100%; //fix for iOS */
}

.footer_container{
  background-color: pink;
}

/* .footer_subscription{

} */

